
.admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.admin h1{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.square{
    width:300px;
    height: 200px ;
    margin: 20px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #04ADBF ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn{
    width: 150px ;
    height: 30px;
    color: #04ADBF;
    border-radius: 8px;
    margin-top: 30px;
    align-items: center;

}
@media (max-width: 768px ) {
    .noAvailable {
        display: block;
        text-align: center;
    }
    .admin{
        display: none;
    }
}
@media (min-width:769px) {
    .noAvailable{
        display: none;
    }
    .admin{
        display: block;
    }
    
}