.container {
    width: 45%;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
    margin-bottom: 20px;
    padding-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.container a {
    all: unset;  /* Elimina todos los estilos */
}

.container:hover {
    transform: scale(1.05); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); 
    border-color: rgba(4, 191, 191, 0.8); 
}

.container img {
    width: 100%;
    height: 270px;
    border-radius: 22px;
    object-fit: cover;
}

.container:hover img {
    opacity: 0.9;
}

.container h4, .container h5, .container p {
    margin: 0px;
    padding: 0px 5px 0px 25px;
}

.container p {
    color: #A1A7B0;
    font-size: 0.9rem;
}

.container:hover p {
    color: #333; 
}

.container h5 {
    color: #04BFBF;
    font-size: 1.5rem;
    font-weight: bold;
}

.container:hover h5 {
    color: #028A8A; 
}

.title {
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: bold;
}

@media (max-width: 860px) {
    .container {
        width: 100%;
    }
}


