.footerBookMyTour {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9F9FB;
    position: relative;
    padding: 10px 0;
}

.sectionFooter1 {
  padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorLogo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px; /* Espacio entre el logo y el mensaje */
    text-decoration: none;
  }
  
  .logo {
    width: 49px;
    height: 55px;
  }
  
  .mensaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mainTitle {
    font-size: 1rem;
    font-weight: bold;
    color: #464646;
    margin: 0px;
    text-decoration: none;
  }
  
  .blueText {
    color: #009CDE;
  }
  
  .slogan {
    color: #464646;
    font-size: 0.625rem;
    font-weight: bold;
    line-height: 30px;
    margin: 0px;
    text-decoration: none;
  }

.sloganCopyright {
    color: #464646;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0px;
  }
  

.sectionFooter2{
  padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sectionFooter2 > p {
  margin: 5px;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.sectionFooter3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1rem;
}

.contenedorRedes{
  padding: 0 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorRedes > nav {
  width: 100%;
}

.contenedorRedes > nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px
}

.contenedorRedes > nav > ul > li {
  margin: 0px 5px;
  cursor:pointer;
}

.buttonRedSocial{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.buttonRedSocial > img{
  width: 60%;
  height: 60%;
}

@media (max-width: 870px) {  
  .sectionFooter2 {
    flex-direction: row;
    gap: 0;
    position: absolute;
    top: 10px;
  }

  .footerBookMyTour {
    padding: 35px 0px 20px 0px;
  }
}

@media (max-width: 430px) {  
  .sectionFooter2 p, .sectionFooter3, .mainTitle {
    font-size: 0.7rem;
    justify-content: space-between;
  }

  .slogan, .sloganCopyright {
    font-size: 0.425rem;
  }

  .contenedorRedes {
    padding: 0;
  }

  .buttonRedSocial {
    width: 24px;
  }

}
